<header
  class="border-b border-slate-200 bg-white/70 backdrop-blur supports-[backdrop-filter]:bg-white/60"
>
  <div class="max-w-8xl mx-auto flex items-center justify-between p-[16px]">
    <h1 class="text-[20px] font-semibold tracking-tight">cogistics</h1>
    <nav class="flex items-center gap-[12px]">
      <a class="hover:text-gray text-[12px] text-black" href="/"
        >Home</a
      >
      <a class="hover:text-gray text-[12px] text-black" href="/blog"
        >Blog</a
      >
      <a
        class="hover:text-gray text-[12px] text-black"
        href="/contact"
        >Contact</a
      >
    </nav>
  </div>
</header>
